@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.0/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-y: scroll;
}

body {
  font-family:
    'Wanted Sans Variable',
    'Wanted Sans',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  background: #ffffff;
  transition: background 0.3s;

  @apply text-black;
}

.scrollbar-x::-webkit-scrollbar {
  @apply lg:h-8;
}

.scrollbar-x::-webkit-scrollbar-thumb {
  @apply lg:bg-gray-500/50 lg:rounded-full;
}

.scrollbar-x::-webkit-scrollbar-thumb:hover {
  @apply lg:bg-gray-500/80;
}

.scrollbar-x::-webkit-scrollbar-track {
  @apply lg:bg-gray-50 lg:rounded-full;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.code {
  font-family: monospace;
}

@layer components {
  .jelly {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
  }

  .jelly:active:focus, .jelly:active:hover {
    transform: scale(0.95);
  }
}
